.ranking-board-wrapper{
  padding: 30px;
}

.ranking-top-menu{
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.ranking-top-text{
  margin: 0;
  font-weight: normal;
  font-family: 'Ubuntu', 'Noto sans KR', sans-serif;
  color: #666666;  
}

.ranking-top-item-wrapper{
  position: absolute;
  top: 10px;
  right: 0;
}

.ranking-top-item{
  display: inline-block;
  font-family: 'Ubuntu', 'Noto sans KR', sans-serif;  
  font-weight: normal;
  width: 120px;
  height: 40px;
  box-shadow: none;
  font-size: 18px;
  background-color: white;
  color: #1A1A1A;
  padding: 10px 30px;
  margin: 0;
}

.ranking-top-item.active{
  background-color: #D1D1D1;
}

.ranking-top-item:first-child{
  border-radius: 10px 0 0 10px;
  border: 1px solid #D1D1D1;
}

.ranking-top-item:last-child{
  border-radius: 0 10px 10px 0;
  border: 1px solid #D1D1D1;
  border-left: none;
}

.ranking-top-item:hover{
  background-color: #00B0FF;
  color: white;
  box-shadow: none;
}

.ranking-top-item:focus{
  outline: none;
}

.ranking-middle-text{
  text-align: left;
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #4A4A4A;  
}

.ranking-my-zone-wrapper{
  width: 100%;
  height: 170px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #DEE2E6;
  box-shadow: 0px 3px 3px 3px #F1F1F1;
}

.ranking-my-zone-user-avatar-wrapper{
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-left: 35px;
  margin-top: 15px;
  border-radius: 50%;
}

.ranking-table td{
  padding: 0;
}

.ranking-table-thead{
  background-color: #DEE2E6;
  color: #4A4A4A;  
}

.ranking-item-wrapper:nth-of-type(2n-1){
  background-color: white !important;
}

.ranking-item{
  position: relative;
}

.ranking-rank-wrapper{
  position: relative;
  padding-top: 25px !important;
  padding-bottom: 10px !important;
  padding: 15px !important;
}

.ranking-rank-wrapper p{
  padding-top: 15px;
}

.ranking-rank-img{
  position: absolute;
  top: 0;
  right: 25px;
  width: 40px;
}

.ranking-user-avatar-wrapper{
  display: inline-block;
  width: 51px;
  height: 51px;
  overflow: hidden;
  position: relative;
  margin-left: 35px;
  margin-top: 15px;
  border-radius: 50%;
}

.ranking-game-image-wrapper{
  display: inline-block;
  position: relative;
  width: 120px;
  height: 75px;
  margin-top: 5px;
  overflow: hidden;
}

.avatar-image{
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;

  display: inline;
  margin: auto;
  height: 100%;
  width: auto;
}

.ranking-user-info{
  position: absolute;
  top: 17px;
  left: 140px;
}

.ranking-user-info p{
  margin: 0px;
}

.ranking-user-info p:first-of-type{
  font-size: 18px;
  color: #3494E1;
  font-weight: 600;
}

.ranking-user-info p:last-of-type{
  font-size: 15px;
  color: #5A5A5A;
}

.ranking-score{
  font-weight: 600;
  color: #1EBFA3;
}